# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Data and personally sensitive plate images
data/

 # Ignore datasets and heavy model weights
dataset/
CRNN DATA/
runs/
__pycache__/
*.pt
*.jpg


# Windows files
Thumbs.db
Desktop.ini

# Environment and secret files
.env