# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo

# Data and personally sensitive plate images
data/

 

# Jupyter files
.ipynb_checkpoints/

# Windows files
Thumbs.db
Desktop.ini

# Environment and secret files
.env